<launch>

    <arg name="map_file" default="$(find scrubber_decontamination)/extra/map.yaml"/>
    <arg name="world_file" default="$(find scrubber_decontamination)/extra/map.world"/>
    <arg name="initial_pose_x" default="-92.0"/>
    <arg name="initial_pose_y" default="-90.0"/>
    <arg name="initial_pose_a" default="0.0"/>

      <!-- Map server -->
    <node name="scrubber_map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
      <!--  <remap from="/map" to="/scrubber/map"/> -->
    </node>

    <node pkg="tf" type="static_transform_publisher" name="scrubber_to_etu_map"
      args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 /contamination/map /map 500" /> 

<!--         position: 
      x: -92.1255185573
      y: -89.5146291644
      z: 0.0
    orientation: 
      x: 0.0
      y: 0.0
      z: 0.0862777984368
      w: 0.99627111847
 -->

    <remap from="scrubber/map" to="map"/>
    <!-- <group ns="scrubber"> -->

        
        <!-- <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch"></include> -->
        <include file="$(find turtlebot_bringup)/launch/minimal.launch"></include>
        <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"></include>

    <!-- </group>
 -->
    <!-- <launch>
        <param name="robot_description" command="cat $(find packagename)/model.xml" />
    </launch> -->

   <!--  <node pkg="tf" type="static_transform_publisher" name="tb_odom_map"
    args="-90.0 -90.0 0.0 0.0 0.0 0.0 /map /odom 500" />  -->

    <!--  ************** Navigation  ***************  -->
   <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

   <!-- <group ns="scrubber"> -->
   <include file="$(find scrubber_decontamination)/launch/scrubber_amcl.launch">
     <arg name="scan_topic" value="scan"/>
     <arg name="use_map_topic" value="false"/>
     <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
     <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
     <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
     <arg name="broadcast_tf"   value="true"/>

   </include>
   <!-- </group> -->





</launch>